Analyseur de données : Écrivez un programme qui lit un fichier CSV (valeurs séparées par des virgules) contenant des données et effectue des opérations d'analyse telles que le calcul de la moyenne, de la médiane, du minimum et du maximum des valeurs dans chaque colonne.

In [16]:
def Analyseur_données(fichier_csv):
    import pandas as pd
    donnees=pd.read_csv(fichier_csv)
    d=donnees.describe()
    print(d)
Analyseur_données(r"C:\Users\julien\Documents\mescodespy\seaborn-data-master\penguins.csv")

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

In [8]:
import pandas as pd
so=pd.read_csv(r"C:\Users\julien\Documents\mescodespy\seaborn-data-master\penguins.csv")
so.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE